{% extends "application.html" %}
{% block content %}


  <section class="container section scrollspy">
    <div class="row">
        <div class="col s40 l40">
            <h2 class="indigo-text text-darken-4">Consultores</h2>
            <h5>Segue a relação dos consultores seniors envolvidos nos projetos da M&F Consultores Associados.</h5><br>

            <p style="font-size: 120%;"> Atuando há mais de 36 anos como CIO, gestor de TIC e gerente de projetos nas áreas de sistemas, infraestrutura, telecomunicações e logística, em empresas nacionais e multinacionais nos segmentos bancário, tecnologia, saúde e comércio. Sólida experiência na execução de projetos de grande porte contemplando, liderança de equipes heterogéneas, administragäo de conflitos de interesse, negociação de contratos de servicos e aquisicäo de tecnologias, reducäo de custos, mitigação de riscos, e entrega de resultados aos seus clientes.</p>
            <p style="font-size: 120%"> Premiado pela Information Week como Executivo de Tl do ano (2010), na categoria Inovação, pela implantacão do projeto de <i>e-commerce</i> na empresa lmdepa Rolamentos. Selecionado pela Computerworld entre os 100 principais lideres de Tl do Brasil (2007 e 2008).</p>

          </div>

  <div class="col s11">
      <div class="card-panel grey lighten-5 z-depth-1">
        <div class="row valign-wrapper">
          <div class="col s2">
            <img src="/static/frances.jpeg" alt="frances" class="circle responsive-img"> <!-- notice the "circle" class -->
          </div>
          <div class="col s9">
            <span class="black-text" style="font-size: 120%;">
              <b style="font-size: 200%;">Luis Carlos Franceschini</b><br>Sócio fundador da M&F Consultores Associados (fundada em 1985).MBA em gestão Empresarial pela Fundção Dom Cabral. Gerente de projetos certificados pelo PMI desde 2004
            </span>
          </div>
        </div>
      </div>
    </div>
</div>
</section>

{% endblock %}