{% extends "application.html" %}
{% block content %}



<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <h1>"Simplificamos a TI de sua empresa."</h1>
      <div class="row center">
        <h5 class="header col s12 light">Tecnologia  da  Informação, Gestão,  Serviços  e  Projetos</h5>
      </div>
      <br><br>

    </div>
  </div>
  <div class="parallax"><img src="/static/background1.jpg" alt="Unsplashed background img 1"></div>
</div>


<div class="container">
  <div class="section">

    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="material-icons">language</i></h2>
          <h4 class="center">Missão</h4>
          <p class="light" style="font-size: 130%;">Excelência no fornecimento de serviços e projetos de alto valor agregado aos clientes, focando a solução de problemas, racionalização de custos, otimização de processos, e uso adequado da tecnologia.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="material-icons">group</i></h2>
          <h4 class="center">Visão</h4>
          <p class="light" style="font-size: 130%;">Ser referência de qualidade na entrega de soluções e serviços aos nossos clientes, proporcionando crescimento sustentável aos colaboradores e acionistas.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="material-icons">check</i></h2>
          <h4 class="center">Valores</h4>
          <p class="light" style="font-size: 130%;">Comprometimento com a ética; Respeito nas relações com clientes, fornecedores e parceiros; Cumprimento dos acordos; Atingimento de resultados.</p>
        </div>
      </div>
    </div>

  </div>
</div>


<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center"> 
        <h5 class="black-text"><b>Focamos em uma gestão de TI e de projetos enxuta, simplificada, otimizada e sustentável</b></h5>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="/static/background2-novo.jpg" alt="Unsplashed background img 2"></div>
</div>

<div class="container">
  <div class="section">

    <div class="row">
      <div class="col s12 center">
        <h3><i class="mdi-content-send brown-text"></i></h3>
        <h4>Contato: (51) 99563330</h4>
        <p class="left-align light" style="font-size: 130%;">Vamos conversar<br>Agradecemos seu interesse por nossos serviços. Nos mande <a href="/contact"><b>e-mail</b></a> </p>
      </div>
    </div>

  </div>
</div>


<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
      </div>
    </div>
  </div>
  <div class="parallax"><img src="/static/back3.jpg" alt="Unsplashed background img 3"></div>
</div>

<footer class="page-footer white">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="black-text">Sobre a empresa</h5>
        <p class="grey-text text-darken-4" style="font-size: 120%;">Fundada em 1985 pelos sócios Carlos Guilherme Matte e Luiz Carlos Franceschini para atender o mercado gaúcho, a M&F Consultores Associados iniciou suas atividades desenvolvendo sistemas especialistas e de gestão, e implantando infraestrura de TI para empresas dos segmentos da indústria, comércio e serviço. Em 2015 a empresa se reposiciona no mercado como prestadora de serviços de gestão e projetos em tecnologia da informação, objetivando a simplificação da TI e a racionalização dos custos e dos investimentos em tecnologia.</p>

      </div>
    </div>
  </div>
</footer>


  {% endblock %}
