{% extends "application.html" %}
{% block content %}

<section class="container section scrollspy">
    <div class="row">
        <div class="col s40 l40">
            <h2 class="indigo-text text-darken-4">Consultores</h2>
            <h6>Segue a relação das empresas cujos serviços foram executados pela M&F Consultores Associados e pelos seus consultores.</h6>
        </div>
  <!--Images-->
        <div class="row">
          <div class="col m6">
            <div class="card">
              <div class="card-image">
                <img src="/static/computer_associates.jpg" height="350" width="400">
                <span class="card-title" style="width:100%; background: rgba(0, 0, 0, 0.5);">Computer Associates</span>
              </div>
            </div>
          </div>
          <div class="col m6">
            <div class="card">
              <div class="card-image">
                <img src="/static/vivo.jpg" alt="Err">
                <span class="card-title" style="width:100%; background: rgba(0, 0, 0, 0.5);">Vivo</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
            <div class="col m6">
              <div class="card">
                <div class="card-image">
                  <img src="/static/claro.jpg" height="435" width="400">
                  <span class="card-title" style="width:100%; background: rgba(0, 0, 0, 0.5);">Claro</span>
                </div>
              </div>
            </div>
            <div class="col m6">
              <div class="card">
                <div class="card-image">
                  <img src="/static/Moinhos_Vento.jpg" alt="Err">
                  <span class="card-title" style="width:100%; background: rgba(0, 0, 0, 0.5);">Hospital Moinhos de Vento</span>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
              <div class="col m6">
                <div class="card">
                  <div class="card-image">
                    <img src="/static/logo-imdepa.jpg" height="437" width="400">
                    <span class="card-title" style="width:100%; background: rgba(0, 0, 0, 0.5);">Imdepa</span>
                  </div>
                </div>
              </div>
              <div class="col m6">
                <div class="card">
                  <div class="card-image">
                    <img src="/static/farroupilha.png" alt="Err">
                    <span class="card-title" style="width:100%; background: rgba(0, 0, 0, 0.5);">Colégio Farroupilha</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
                <div class="col m6">
                  <div class="card">
                    <div class="card-image">
                      <img src="/static/ipiranga_certo.png" height="400" width="400">
                      <span class="card-title" style="width:100%; background: rgba(0, 0, 0, 0.5);">Posto Ipiranga</span>
                    </div>
                  </div>
                </div>
                <div class="col m6">
                  <div class="card">
                    <div class="card-image">
                      <img src="/static/banco-bozano.svg" height="400" width="400" alt="Err">
                      <span class="card-title" style="width:100%; background: rgba(0, 0, 0, 0.5);">Banco Bozano Simonsen</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                  <div class="col m6">
                    <div class="card">
                      <div class="card-image">
                        <img src="/static/IBM.jpg" height="430" width="400">
                        <span class="card-title" style="width:100%; background: rgba(0, 0, 0, 0.5);">IBM</span>
                      </div>
                    </div>
                  </div>
                  <div class="col m6">
                    <div class="card">
                      <div class="card-image">
                        <img src="/static/meridional.png" alt="Err">
                        <span class="card-title" style="width:100%; background: rgba(0, 0, 0, 0.5);">Meridional</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                    <div class="col m6">
                      <div class="card">
                        <div class="card-image">
                          <img src="/static/pneumo.png" height="620" width="400">
                          <span class="card-title" style="width:100%; background: rgba(0, 0, 0, 0.5);">Pneumo Laboratório de respiração</span>
                        </div>
                      </div>
                    </div>
                    <div class="col m6">
                      <div class="card">
                        <div class="card-image">
                          <img src="/static/provincia.jpeg" alt="Err">
                          <span class="card-title" style="width:100%; background: rgba(0, 0, 0, 0.5);">Colégio Província</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                      <div class="col m6">
                        <div class="card">
                          <div class="card-image">
                            <img src="/static/joaoXX3.png" height="520" width="400">
                            <span class="card-title" style="width:100%; background: rgba(0, 0, 0, 0.5);">Colégio João XXIII</span>
                          </div>
                        </div>
                      </div>
                      <div class="col m6">
                        <div class="card">
                          <div class="card-image">
                            <img src="/static/Logo_lido.jpg" alt="Err">
                            <span class="card-title" style="width:100%; background: rgba(0, 0, 0, 0.5);">Hotel Lido</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                        <div class="col m6">
                          <div class="card">
                            <div class="card-image">
                              <img src="/static/faillace.jpg" height="400" width="400">
                              <span class="card-title" style="width:100%; background: rgba(0, 0, 0, 0.5);">Laboratório Faillace</span>
                            </div>
                          </div>
                        </div>
                        <div class="col m6">
                          <div class="card">
                            <div class="card-image">
                              <img src="/static/prodomo.png" alt="Err">
                              <span class="card-title" style="width:100%; background: rgba(0, 0, 0, 0.5);">Prodomo</span>
                            </div>
                          </div>
                        </div>
                      </div>


{% endblock %}