{% extends "application.html" %}
{% block content %}


<section class="container section scrollspy">
  <div class="row">
      <div class="col s40 l40">
          <h2 class="indigo-text text-darken-4">Serviços</h2>
          <p style="font-size: 130%;">Nosso compromisso é solucionar os problemas dos nossos clientes, com a entrega de serviços, projetos e soluções atendendo ao escopo, custo, prazo e qualidade acordados e contratados.</p>
          <p style="font-size: 130%;">Focamos em uma gestão de TI e de projetos enxuta, simplificada, otimizada e sustentável, contribuindo decisivamente para o desenvolvimento, fortalecimento e perenidade dos nogócios de nossos clientes.</p>
          <p style="font-size: 130%;">Possuímos profundo conhecimento do mercados de TI e das necessidades de negócio. Este know how possibilita a correta indicação das soluções que simplifiquem os processos e minimizem os investimentos em tecnologia.</p>
          <br>
      </div>


      <div class="section">

        <!--   Icon Section   -->
        <div class="row">
          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center brown-text"><i class="material-icons">assignment_ind</i></h2>
              <h4 class="center">Gestão</h4>
              <p class="light" style="font-size: 140%;">"Fornecer serviços e projetos de alto valor agregado aos clientes, com o correto uso das tecnologias e custos racionalizados"</p>
              <ul style="font-size: 130%">
                <li>.  Gerência de Projetos padrão PMI</li>
                <li>.  Gestão de contratos e custos</li>
                <li>.  Segurança da informação</li>
                <li>.  Gestão de equipes</li>
                <li>.  Outsourcing</li>
                <li>.  Treinamento</li>
                </ul>
            </div>
          </div>
  
          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center brown-text"><i class="material-icons">storage</i></h2>
              <h4 class="center">Sistemas</h4>
              <p class="light" style="font-size: 140%;">“Garantir a correta informação gerada pelos sistemas de informação, no tempo certo, para as pesssoas certas"</p>
              <ul style="font-size: 130%">
                <li>.  Enterprise Resource Planning (ERP)</li>
                <li>.  Customer Relationship Management</li>
                <li>.  Business Intelligence (BI)</li>
                <li>.  Cloud Computing</li>
                <li>.  Mobilidade</li>
                </ul>
            </div>
          </div>
  
          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center brown-text"><i class="material-icons">location_city</i></h2>
              <h4 class="center">Infraestrutura</h4>
              <p class="light" style="font-size: 140%;">“Garantir disponibilidade, performance e segurança dos ativos da tecnologia da informação"</p>
              <ul style="font-size: 130%">
                <li>.  Infraestrutura</li>
                <li>.  Telecomunicações</li>
                <li>.  Suporte técnico</li>
                <li>.  Datacenter</li>
                </ul>                
            </div>
          </div>
        </div>
  
      </div>
    </div>

{% endblock %}
